.counter{
    height:100vh;
    width:100vw;
    background-color:  #f8f8f8;
    display: grid;
    place-items: center;
}

.counter__container{
    background-color: white;
    padding:100px;
    border-radius: 5px;
    box-shadow: 2px 5px 3px rgba(54, 54, 51, 0.842);
}


.counter__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 10px 15px;
    cursor: pointer;
    border: 0;
    border-radius:5px;
}

button:hover{
    background-color: #111111;
    color: red;
}

h1{
    padding: 0 20px;
    background-color:lightgrey;
}